# pycharm configs
.idea/

# eclipse configs
*.project
*.pydevproject

# vim temp files
*.swo
*.swp

# pytest cache files
.pytest_cache/

*.pyc
*.pdf
*.DS_Store
*.gpickle

venv/
/Document/
__pycache__/
DES/test.py
